body {
	font-family: system-ui, sans-serif;
	margin: 0;
}

body > div {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	height: 100vh
}

#map {
	flex: 1;
	min-width: 600px;
	min-height: 500px;
}

#search-container {
	min-width: 275px;
	display: flex;
	flex-direction: column;
	padding: 25px;
	border-left: 2px solid #808080;
	background-color: #E0E0E0;
}

#search-bar {
	font-size: x-large;
}

text {
	padding: 5px;
	border-radius: 3px;
	background-color: #E9E9ED;
}

#search-results {
	/* Remove default list styling. */
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.result > h2 {
	margin-bottom: 0;
}

.result > p {
	margin: 0;
}
