body {
	font-family: system-ui, sans-serif;
	margin: 0px;
}

select {
	padding: 5px;
	border-radius: 3px;
}

.heading h2 {
	margin: 0px;
	padding: 0px;
}
.heading {
	padding: 10px;
	background-color: #E0E0E0;
	display: block;
	border-bottom: 2px solid #808080;
	position: fixed;
	top: 0px;
	width: calc(100% - 20px);
}

canvas.map {
	margin: 10px;
	max-width: calc(100% - 20px);
}

a.homeicon {
	background-image: url('/icons/home.png');
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	margin-top: 0.1em;
	margin-bottom: -0.1em;
	text-decoration: none;
}
a.homeicon:hover {
	background-image: url('/icons/home2.png');
}
